body {
	background-color:rgb(73, 144, 207);
	margin-top:10px;

}


label{
	color:white;
	padding-bottom:5px;
	float:left;
}
.leftcontent{
	float:left;
	
}

 textarea, select{
	color:white;
	background-color:rgb(73, 144, 207);
	
	

}
input{
	border-color:rgb(5,5,5);
	border:20px;
	background-color:(73, 144, 207);
}
.centercontent {
	float:center;
	
}
.rightcontent{
	float:right;
	
}